{% include 'kaorawebpages/headerMain.html' %}
<div class="container">
    <div class="nav-wrapper">
        <div class="col s12">
            <a href="{% url 'pagina_inicial' %}" class="breadcrumb">Home</a>
            <a href="{% url 'consulta_paciente' %}" class="breadcrumb">Consulta Paciente</a>
            <a href="#" class="breadcrumb">Anotação</a>
        </div>
    </div>
    <form action="{% url 'atualiza_anotacao' anotacoes.id %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col s12">
                <label class="lblCadastro" for="{{ formAnotacao.data.id_for_label }}">Data da Anotação:</label>
                {{ formAnotacao.data }}
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <label class="lblCadastro" for="{{ formAnotacao.parteCorpo.id_for_label }}">Parte Analisada:</label>
                {{ formAnotacao.parteCorpo }}
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <label class="lblCadastro" for="{{ formAnotacao.anotacao.id_for_label }}">Anotação sobre o paciente:</label>
                {{ formAnotacao.anotacao }}
            </div>
        </div>
        <div class="row">
            <div class="col s12 center btnEntrar">
                <button type="submit" class="waves-effect waves-light btn-large">Atualizar</button>
            </div>
        </div>
    </form>
</div>

{% include 'kaorawebpages/footer.html' %}