{% include 'kaorawebpages/headerMain.html' %}
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col s12">
                <label class="lblCadastro" for="{{ formAvaliacao.data.id_for_label }}">Data da Avaliação:</label>
                {{ formAvaliacao.data }}
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <label class="lblCadastro" for="{{ formAvaliacao.parteAnalisada.id_for_label }}">Parte Analisada:</label>
                {{ formAvaliacao.parteAnalisada }}
            </div>
        </div>
        <div class="row">
            <div class="col s12 center btnEntrar">
                <button class="waves-effect waves-light btn-large" type="submit">ENVIAR</button>
            </div>
        </div>
    </form>
    <canvas id="paciente-grafico"></canvas>
    
{% include 'kaorawebpages/footer.html' %}