{% include 'kaorawebpages/headerMain.html' %}
<div class="container"> 
    <canvas id="myChart" width="300"></canvas>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script>
    var ctx = document.getElementById("myChart");
    var dadosMusculos = JSON.parse('{{ dadosMusculos| safe }}');
    var dia = JSON.parse('{{ dia|safe }}');

    var graficoPaciente = new Chart(ctx, {
        type: 'line',
        data: {
            labels: dia,
            datasets:[{
                label: 'Dados Musculares',
                data: dadosMusculos,
                borderWidth: 6,
                borderColor: 'rgba(77,166,253,0.85)',
                backgroundColor: 'transparent',
            }]
        },
        options: {
            title: {
                display: true,
                fontSize: 20,
                text: 'Analise Muscular do Paciente',
            },
            labels:{
                fontStyle: 'bold',
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });

</script>

{% include 'kaorawebpages/footer.html' %}