{% include 'kaorawebpages/headerMain.html' %}
<h4 class="center">Cadastre seu Paciente</h4>
<form action="" method="POST" class="container">
    {% csrf_token %}
    <div class="row">
        <div class="col s12 l8">
            <label class="lblCadastro" for="{{ formPaciente.nome.id_for_label }}">Nome</label>
            {{ formPaciente.nome }}
        </div>
        <div class="col s12 l4">
            <label class="lblCadastro" for="{{ formPaciente.cpfPaciente.id_for_label }}">CPF</label>
            {{ formPaciente.cpfPaciente }}
        </div>
    </div>
    <div class="row">
        <div class="col s12 l8">
            <label class="lblCadastro" for="{{ formPaciente.endereco.id_for_label }}">Endereço</label>
            {{ formPaciente.endereco }}
        </div>
        <div class="col s12 l4">
            <label class="lblCadastro" for="{{ formPaciente.bairro.id_for_label }}">Bairro</label>
            {{ formPaciente.bairro }}
        </div>
    </div> 
    <div class="row">
        <div class="col s12 l4">
            <label class="lblCadastro" for="{{ formPaciente.cep.id_for_label }}">CEP</label>
            {{ formPaciente.cep }}
        </div>
        <div class="col s12 l4">
            <label class="lblCadastro" for="{{ formPaciente.cidade.id_for_label }}">Cidade</label>
            {{ formPaciente.cidade }}
        </div>
        <div class="col s12 l4">
            <label class="lblCadastro" for="uf">UF</label>
            <select name="uf" id="uf" class="browser-default">
                <option value="" disabled selected>Escolha o Estado</option>
                <option value="1">AC</option>
                <option value="2">AL</option>
                <option value="3">AP</option>
                <option value="4">AM</option>
                <option value="5">BA</option>
                <option value="6">CE</option>
                <option value="7">DF</option>
                <option value="8">ES</option>
                <option value="9">GO</option>
                <option value="10">MA</option>
                <option value="11">MT</option>
                <option value="12">MS</option>
                <option value="13">MG</option>
                <option value="14">PA</option>
                <option value="15">PB</option>
                <option value="16">PR</option>
                <option value="17">PE</option>
                <option value="18">PI</option>
                <option value="19">RJ</option>
                <option value="20">RN</option>
                <option value="21">RS</option>
                <option value="22">RO</option>
                <option value="23">RR</option>
                <option value="24">SC</option>
                <option value="25">SP</option>
                <option value="26">SE</option>
                <option value="27">TO</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col s12 l4">
            <label class="lblCadastro" for="{{ formPaciente.telefone.id_for_label }}">Telefone</label>
            {{ formPaciente.telefone }}
        </div>
        <div class="col s12 l4">
            <label class="lblCadastro" for="{{ formPaciente.celular.id_for_label }}">Celular</label>
            {{ formPaciente.celular }}    
        </div>
        <div class="col s12 l4">
            <label class="lblCadastro" for="{{ formPaciente.email.id_for_label }}">email</label>
            {{ formPaciente.email }}    
        </div>
    </div>
    <div class="row">
        <div class="col s12 l6">
            <label class="lblCadastro" for="{{ formPaciente.dataNascimento.id_for_label }}">Data de Nascimento</label>
            {{ formPaciente.dataNascimento }}
        </div>
        <div class="col s12 l6">
            <label class="lblCadastro" for="menor">É menor de idade?</label>
            <p>
                <label>
                    <input type="radio" name="menor" id="menor" value="sim">
                    <span>Sim</span>
                </label>
            </p>
            <p>
                <label>
                    <input type="radio" name="menor" id="menor" value="nao">
                    <span>Não</span>
                </label>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 l6">
            <label class="lblCadastro" for="{{ formPaciente.responsavel.id_for_label }}">Nome Responsável</label>
            {{ formPaciente.responsavel }}
        </div>
        <div class="col s12 l6">
            <label class="lblCadastro" for="{{ formPaciente.cpfResponsavel.id_for_label }}">CPF</label>
            {{ formPaciente.cpfResponsavel }}
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <label class="lblCadastro" for="{{ formPaciente.diagnostico.id_for_label }} ">Diagnóstico</label>
            {{ formPaciente.diagnostico }}
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <label class="lblCadastro">Descrição do Diagnóstico</label>
            {{ formPaciente.descricaoDiagnostico }}
        </div>
    </div>
    <div class="row center">
        <div class="col s12">
            <label class="lblCadastro" for="{{ formPaciente.fotos.id_for_label }}">Fotos</label>
            {{ formPaciente.fotos }}
        </div>
    </div>
    <div class="row center">
        <div class="col s12 btnEntrar">
            <button class="waves-effect waves-light btn-large" type="submit">Cadastrar</button>
        </div>
    </div>
</form>
{% include 'kaorawebpages/footer.html' %}