{% include 'kaorawebpages/headerMain.html' %}
<div class="container">
    <div class="row">
        <div class="col s10">
            <label for="" class="lblCadastro">Nome</label>
            <input type="search" name="" id="">
        </div>
        <div class="col s2">
            <a href=""><i class="fas fa-search fa-2x"></i></a>
        </div>
    </div>
    <table class="highlight">
        <thead>
            <tr>
                <th>Paciente</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for paciente in pacientes %}
                <tr>
                    <th>{{ paciente.nome }}</th>
                    <th><a href="{% url 'perfil_paciente' paciente.id %}"><i class="fas fa-eye fa-2x"></i></a></th>
                    <th><a href="{% url 'anotacao' paciente.id %}"><i class="fas fa-pen"></i></a></th>
                    <th><a href="{% url 'remove_paciente' paciente.id %}"><i class="fas fa-times"></i></a></th>
                </tr>
            {% endfor %}
        </tbody>
    </table>      
</div>
{% include 'kaorawebpages/footer.html' %}