{% include 'kaorawebpages/headerMain.html' %}
<div class="container">
    <div class="nav-wrapper">
        <div class="col s12">
            <a href="{% url 'pagina_inicial' %}" class="breadcrumb">Home</a>
            <a href="{% url 'consulta_paciente' %}" class="breadcrumb">Consulta Paciente</a>
            <a href="#" class="breadcrumb">Perfil do Paciente</a>
        </div>
    </div>
    <div class="row top">
        <div class="col s12 boxDetails">
            <h4>Ficha Médica</h4>
            <div class="row">
                <div class="col l6 s12">
                    <p>Nome: {{ paciente.nome }} </p>
                    <p>Data Nascimento: {{ paciente.dataNascimento }} </p>
                    <p>Diagnóstico: {{ paciente.diagnostico }} </p>
                    <details> 
                        <summary>Descrição diagnóstico </summary> 
                        <p>{{ paciente.descricaoDiagnostico }}</p>
                    </details>              
                </div>
                <div class="col l6 s12">                    
                    <img src="{{ paciente.fotos.url }}" alt="Fotos relacionadas ao paciente" class="responsive-img materialboxed" width="100">                      
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center">
            <canvas id="pacienteGrafico"></canvas>  
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
            <script>
                var ctx = document.getElementById("pacienteGrafico");
                var dadosMusculos = JSON.parse('{{ dadosMusculos| safe }}');
                var dia = JSON.parse('{{ dia|safe }}');

                var pacienteGrafico = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: dia,
                        datasets:[{
                            label: 'Dados Musculares',
                            data: dadosMusculos,
                            borderWidth: 6,
                            borderColor: 'rgba(77,166,253,0.85)',
                            backgroundColor: 'transparent',
                        }]
                    },
                    options: {
                        title: {
                            display: true,
                            fontSize: 20,
                            text: 'Analise Muscular do Paciente',
                        },
                        labels:{
                            fontStyle: 'bold',
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero:true
                                }
                            }]
                        }
                    }
                });

            </script>             
        </div>
    </div>
    <div class="row">
        <div class="col offset-l4 offset-s3 btnEntrar">                                     
            <a href="{% url 'avaliacao' %}" class="waves-effect waves-light btn-large">Cadastrar Avaliação</a>
        </div>
    </div>
    <div class="row">
        <table class="highlight">
            <thead>
                <tr>
                    <td>Anotações</td>
                    <td>Data</td>
                    <td><a href="{% url 'anotacao' paciente.id %}" class="tooltipped" data-position="bottom" data-tooltip="Nova Anotação"><i class="fas fa-plus-circle fa-2x"></i></a></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% for anotacao in anotacoes %}
                    <tr>
                        <td> {{ anotacao.parteCorpo }} </td>
                        <td> {{ anotacao.data }} </td>
                        <td><a href="{% url 'atualiza_anotacao' anotacao.id %}" class="tooltipped" data-position="bottom" data-tooltip="Editar Anotação"><i class="fas fa-pencil-alt fa-2x"></i></a></td>
                        <th><a href="{% url 'remove_anotacao' anotacao.id %}" class="tooltipped" data-position="bottom" data-tooltip="Remover Anotação"><i class="fas fa-times fa-2x"></i></a></th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% include 'kaorawebpages/footer.html' %}